/* Mobile Devices */
@media screen and (max-width:576px) {

    
    .box {
        padding: 0 25px;
    }

    /* header */
    header .box {
        flex-direction: column;
        gap: 28px;
    }

    .header-list ul {
        flex-direction: column;
    }

    /* play like goat*/
    #goat {
        background-image: none;
    }

    #goat .box {
        padding: 0;
    }

    .goat {
        flex-direction: column-reverse;
    }

    .goat-content {
        background: url('../images/Group\ 14.png');
        padding: 138px 22px;
    }

    .goat-content h1 {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 8px;
    }

    .goat-content h1 span {
        font-size: 94px;
        line-height: 98px;
    }

    /* we are gamer */
    #gamer {
        background: none;
        padding: 0;
    }

    .gamer {
        flex-direction: column;
    }

    .gamer-content {
        text-align: center;
    }

    /* funny games video */
    .section-title h2 {
        line-height: 1;
    }

    .video-box {
        grid-template-columns: 1fr;
    }

    .video-image>img {
        width: 100%;
    }

    /* play instant */
    #play-instantly .box {
        flex-direction: column;
    }

    .play-instantly-content {
        text-align: center;
        flex-basis: 32%;
    }

    img.upper {
        padding-left: 70px;
    }

    img.lower {
        position: relative;
        bottom: 115px;
        margin-bottom: -115px;
        left: -10px;
        width: 50%;
    }

    /* play online */
    #online-game .box {
        flex-direction: column-reverse;
    }

    .online-game-image img.upper {
        padding-right: 72px;
    }

    .online-game-image img.lower {
        bottom: 100px;
        left: 62%;
    }

    .online-game-image img.lower {
        bottom: 115px;
        left: 48%;
    }

    .online-game-content {
        text-align: center;
    }

    

    /* footer */
    .footer-menu ul {
        gap: 28px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-links {
        gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* for tablet */
@media screen and (min-width:577px) and (max-width:1200px) {}